lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.env.test
*.dev
.DS_Store
.vscode

# Docker
Dockerfile
docker-compose.yml

dist/**/*
coverage